.git
.agents
.serena
.cursor
.claude
.codex
.gemini
.github
.opencode
.qwen
.vscode
apps/mobile
apps/infra
**/.venv
**/node_modules
**/.next
**/.dart_tool
**/__pycache__
**/.ruff_cache
**/.pytest_cache
**/.coverage
**/.terraform
**/.monodep
*.md
docs
